<div class="login-container">
    <img class="film" src="assets/images/film.png" alt="" />
    <div class="logo">Movie buff</div>
    <div class="desc">
      Movie buff is a basic website created to learn and get handson expierence on angular. It contains a login page, home page and a movie feedback page please use (username - harsha, password-1234)
    </div>
    <div class="login-form">
      <div class="form-group">
        <label for="uname">Username</label>
        <input
          type="text"
          name="uname"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <label for="pword">Password</label>
        <input
          type="password"
          name="pword"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
      <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button class="btn btn-dark" (click)="login()">Login</button>
      </div>
    </div>
  </div>